body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(62, 59, 59);
}

button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.information {
    width: 400px;
    margin: 30px;
    color: white;
    text-align: center;
    font-size: 15px;
}

.footer p {
    margin: 50px;
    color: rgb(64, 64, 64);
    text-align: center;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: black;
    width: 320px;
    height: 568px;
    border: 8px solid;
    border-radius: 20px;
    border-color: rgb(49, 49, 49);
}

.button, .button-digit, .button-operation {
    margin-bottom: 5px;
    border: none;
    color: white;
    font-size: 25px;
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: #5c5c5e;
}

.button:hover, .button-digit:hover {
    background-color: #95949A
}

.button-operation:hover {
    background-color: #fbc78d;
}

.button-digit {
    background-color: #1C1C1C;
}

.button-operation {
    background-color: #FF9F0A;
    font-size: 30px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.final {
    color: white;
    font-size: 45px;
    padding: 10px;
}

.equation {
    color: #95949A;
    font-size: 40px;
    padding: 10px;
}

